body {
    background-image: url("img/fundo.png");
    background-attachment: fixed;
cursor: url('Normal Selects.cur'), auto;

}

header {
    display: flex;
}

header img {
    padding-left: 10vw;
    height: 23vw;
    width: 67%;
}


header div.junimo img{
margin-top: 5vw;
margin-right: 14vw;
padding-left: 5vw;
    height: 11vw;
    width: 30%;
}

header button {
    background-color: transparent;
    border: none;
    cursor: url("Text Select.cur"), pointer;
}

div.menu{
    display: none;
    position: absolute;
    width: 17vw;
    padding-left: 1vw;
        z-index: 999;
}        

div.junimo:hover div.menu {
    display: block;

}

div.menu a{
    width: 80%;
    background-color: #f4b266;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
        padding: 0.5vw 1.3vw;
    color: rgb(73, 29, 0);
    text-decoration: none;
    font-family: "Jersey 10",sans-serif;
    font-size: 1.5vw;
border-style: solid;
border-color: #cb6506;
cursor: url("Text Select.cur"), pointer;
}

main {
    display: flex;
    flex-direction: row;
}

main p{
    position: absolute;
    font-size: 2vw;
    padding-top: 1.5vw ;
    padding-left: 8vw;
    font-family: "Jersey 10", sans-serif;
    color: rgb(73, 29, 0);
    width: 63.5vw;
}


main h1{
        position: absolute;
    font-size: 3vw;
    padding-top: 23.5vw ;
    padding-left: 30vw;
    font-family: "Jersey 10", sans-serif;
    color: rgb(51, 21, 1);
    width: 63.5vw;
}


main img {
    flex-direction: row;
padding-left: 2vw;
height: 32vw;
width: 106vw;
}



main div.vovo img{
    flex-direction: row;
    margin-top: 2vw;
    width: 90%;
    height: 24vw;
}



footer {
    padding-top: 3vw;
}

footer img{
 padding-left: 18vw;
    height:19vw;
    width: 70%;
}

footer p{
        position: absolute;
    font-size: 2.5vw;
    padding-top: 2vw ;
    padding-left: 23vw;
    font-family: "Jersey 10", sans-serif;
    color: rgb(73, 29, 0);
    width: 39vw;

}

footer a{
    text-decoration: none;
    cursor: url("Text Select.cur"), pointer;
}

@media (max-width: 640px){
    main p{
        padding-top: 4vw ;
    }
    
    
    main h1{
        padding-top: 26.5vw ;
    }
    
    
    main img {
padding-top: 3vw;
    }

    
main div.vovo img{
    margin-top: 4vw;
}


footer {
    padding-top: 5vw;
}

footer img{
 padding-left: 18vw;
    height:19vw;
    width: 70%;
}

footer p{
        position: absolute;
    font-size: 2.5vw;
    padding-top: 2vw ;
    padding-left: 23vw;
    font-family: "Jersey 10", sans-serif;
    color: rgb(73, 29, 0);
    width: 39vw;

}
}